@import "src/styles/variables";

.content {
  padding: 40px 70px 70px 70px;
  display: flex;
  align-items: flex-start;
}

.info {
  display: grid;
  grid-template-columns: 130px auto;
  gap: 12px 8px;
}

.description {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
  max-width: 800px;
  margin-right: 80px;
}

.label {
  color: #565c67;
  font-weight: 500;
}

.trailer-title {
  font-size: 24px;
  font-weight: 600;
  color: $white;
  margin-bottom: 30px;
}

.trailer {
  width: 50%;
  margin-right: 90px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-icon {
  width: 24px;
  height: 24px;
  fill: #969696;
  margin-right: 6px;
}

.rating-text {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #969696;
  margin-top: -2px;
}

.additional-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.additional-info-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.genres {
  display: flex;
  align-items: center;
}